.container {
  padding: 2.6rem;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  column-gap: 3rem;
  row-gap: 0.8rem;
  background: #ffffff;
  border-radius: 10px;

  font-size: 1.6rem;
  align-items: center;
}

.input {
  width: 50%;
  height: 3rem;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1px solid #dddddd;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #ffffff;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 221, 76, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 216, 76, 0.1);
}

.container label {
  justify-self: end;
}
.staff-name {
  justify-self: start;

  border: 1px solid #dddddd;
  border-radius: 8px;
  outline: none;
  padding: 0.6rem 3rem;
  background-color: #dddddd;
}

.container input,
.cont {
  justify-self: start;
}

.img {
  width: 160px;
  height: 160px;
  background: #000;
  grid-column: 3/4;
  grid-row: 1/4;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.history-text {
  justify-self: start;
  padding: 0 0 0 1rem;
  font-style: italic;
}
.checkpoint {
  align-self: start;
}

.add-btn {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #d7d7d7;
}

.delete-btn {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.cont {
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 1.2rem;
}

.option-box {
  display: flex;
}
.popup-box {
  display: flex;
}

.popup-box p {
  margin-right: 1rem;
}
.btn-cancel {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1.6rem;
  justify-self: start;
  color: #ffffff;
  background-color: #c40505;
  cursor: pointer;
  grid-row: 5/6;
}

.btn-next {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1.6rem;
  justify-self: end;
  color: #ffffff;
  background-color: #7ac405;
  cursor: pointer;
  grid-row: 5/6;
  grid-column: 3/4;
}

.confirmation-box {
  grid-column: -4/-1;
}

.confirmation-box button {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.6rem 1.6rem;
  border-radius: 10px;
  border: none;
}
