.history-container {
  padding: 2rem;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */

  background: #ffffff;
  border-radius: 10px;

  font-size: 1.6rem;
  align-items: center;
}
.accordion {
  /* width: 700px; */
  /* margin: 100px auto; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #ffd166;
}

/* .open .number,
.open .title {
  color: #ffd166;
} */
