.history-container {
  padding: 4rem 6rem;

  background: #ffffff;
  border-radius: 10px;

  font-size: 1.6rem;
  align-items: center;
  justify-content: start;
}
.accordion {
  /* width: 700px; */
  /* margin: 100px auto; */
  display: flex;
  flex-direction: column;
}

.heading {
  /* display: flex; */
  margin-left: 1.6rem;
}
.span {
  display: flex;
  align-items: center;
}

.item {
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.032); */
  padding: 2.4rem;

  cursor: pointer;

  border-bottom: 1px solid #d9d9d9;
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 2.4rem;
}

.closeing:hover {
  background-color: #f6f6f6;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.content-box {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 1.6rem;
  justify-items: start;
  align-items: start;
}
.name {
  padding: 0 6rem;
  justify-self: start;
}
.text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #ffd166;
}

/* .open .number,
.open .title {
  color: #ffd166;
} */
.line-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.his-box {
  grid-column: -3 / -2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
