.container1 {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  background: #ffffff;
  border-radius: 10px;

  font-size: 1rem;
  align-items: center;
}

.container2 {
  padding: 2rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  background: #ffffff;
  border-radius: 10px;

  font-size: 1rem;
}

.container1 h1 {
  text-align: center;
  font-size: 22px;
  padding: 1%;
}

.container2 h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 1rem;
  font-size: 22px;
}

.img-url {
  border: none;
  border-radius: 8px;
}

.img-url:hover {
  background-color: #d9d9d9;
}

.modal {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
}

.stepper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.stepper::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translateY(-50%);
  height: 3px;
  width: 70%; 
  background-color: #000; 
  z-index: 5; 
}

.step-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: medium;
  font-weight: 550;
  padding: 1%;
}

.step {
  width: 4rem;
  height: 4rem;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  background-color: #d34f34;
  border-radius: 9999px;
  font-weight: 600;
  color: #fff;
  border: 3.5px solid #000;
}

.step.complete {
  background-color: #44b75f; 
}

.step.origin {
  background-color: #5e95cf; 
}